body {
    overflow-x: hidden;
}

body, div, form, ul, ol, dl, li, table, th, td, tr, p, h1, h2, h3, h4, h5, h6,
.el-header, .el-main, .el-footer, .el-aside {
    margin: 0;
    padding: 0;
}

.transition-box {
    margin-bottom: 10px;
    width: 200px;
    height: 100px;
    border-radius: 4px;
    background-color: #409EFF;
    text-align: center;
    color: #fff;
    padding: 40px 20px;
    box-sizing: border-box;
    margin-right: 20px;
}


